body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:564px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:213px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:112px;
  width:424px;
  height:213px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
